@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --navbar: #c2c2c2;
}

[data-theme='dark'] {
    --background: #0a0a0a;
    --foreground: #ededed;
    --navbar: #333333;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

button:hover {
  background: var(--foreground);
  color: var(--background);
  cursor: pointer;
}

.secondary-button {
  border-color: var(--foreground);
}

nav {
  background: var(--navbar);
}
