@import "tailwindcss";

@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

:root {
  --background: #ffffff;
  --foreground: #171717;
  --navbar: #c2c2c2;
  --card-background: #ffffff;
}

[data-theme='dark'] {
    --background: #0a0a0a;
    --foreground: #ededed;
    --navbar: #333333;
    --card-background: #2b2b2b;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  border-color: var(--foreground);
}

button:hover {
  background: var(--foreground);
  color: var(--background);
  cursor: pointer;
}

.secondary-button {
  border-color: var(--foreground);
}

nav {
  background: var(--navbar);
}

.service-card {
  background: var(--card-background);
}